

/.settings/
.project
.classpath

*/target/
*/.settings/
*/.project
*/.classpath

showcase/*/logs/
showcase/*/target/
showcase/*/.settings/
showcase/*/.project
showcase/*/.classpath

*.class


*.jar

*.war

*.ear
