.ui-button {
	background-image: url(../../images/default/button-bg.png);
	height: 34px;
}

.ui-button-text {
	color: #333;
	font-size:13px;
	line-height:35px;
	_line-height:33px;/*for ie 6 7*/
}

.ui-button.ui-state-default {
	border: 1px solid #986229;
	_border:0 none;
}

.ui-button-ie-border {
	border: 1px solid #986229;
}

.ui-button.ui-state-hover, .ui-button.ui-state-focus{
	background-position: 0px -34px;
	
}

.ui-button.ui-state-active{
	background-position: 0px -68px;
}

.ui-button.ui-state-disabled{
	background-position: 0px -102px;
	opacity: .75; 
	filter:none;
	border: 1px solid #999;
	_border:0 none;
	background-image: url(../../images/default/button-bg.png); 
}

.ui-button-ie-state-disabled {
	border: 1px solid #999;
}